<% content_for :page_title do %>
  <%= link_to Spree.t(:active_sales), admin_active_sales_path %> /
  <%= link_to @active_sale.name, admin_active_sale_path(@active_sale) %> /
  <%= link_to @active_sale_event.name, edit_admin_active_sale_active_sale_event_path(@active_sale, @active_sale_event) %> /
  <%= Spree.t(:list, scope: [:active_sale, :event, :products, :title]) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new, scope: [:active_sale, :event, :link]), [:new, :admin, @active_sale, :active_sale_event], icon: 'plus', id: 'admin_new_active_sale_link', class: 'btn-success' %>
<% end %>

<%= render partial: 'spree/admin/shared/sale_tabs', locals: { current: 'Sale Event Products' } %>

<% single_product_sale = @active_sale_event.single_product_sale? && @sale_products.count >= 1 %>
<% unless single_product_sale %>
  <%= render partial: 'form' %>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t(:single_product_sale_message, scope: [:active_sale, :event]) %>
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/sale_products', locals: { sale_products: single_product_sale ? [@sale_products.first] : @sale_products } %>
