<%= render partial: 'spree/admin/shared/sale_tabs', locals: { current: 'Sale Event Images' } %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @sale_image } %>

<% content_for :page_title do %>
  <%= link_to Spree.t(:active_sales), admin_active_sales_path %> /
  <%= link_to @active_sale.name, admin_active_sale_path(@active_sale) %> /
  <%= link_to @active_sale_event.name, edit_admin_active_sale_active_sale_event_path(@active_sale, @active_sale_event) %> /
  <%= Spree.t(:edit, scope: [:active_sale, :event, :images, :title]) %>
<% end %>

<%= form_for [:admin, @active_sale, @active_sale_event, @sale_image], html: { multipart: true } do |f| %>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h1 class="panel-title">
          <%= @sale_image.attachment_file_name%>
        </h1>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div data-hook="thumbnail" class="col-md-3 text-center">
            <%= f.label Spree.t(:thumbnail) %>
            <%= link_to image_tag(@sale_image.attachment.url(:small)), @sale_image.attachment.url(:product) %>
          </div>
          <div class="col-sm-9">
            <%= render partial: 'form', locals: { f: f } %>
          </div>

          <div class="clear"></div>
          <div class="form-buttons filter-actions actions" data-hook="buttons">
            <%= button Spree.t(:update), 'update' %>
            <span class="or"><%= Spree.t(:or) %></span>
              <%= link_to_with_icon 'remove', Spree.t(:Cancel), admin_active_sale_active_sale_event_sale_images_url(@active_sale, @active_sale_event), id: 'cancel_link', class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>

<% end %>
