<%= render partial: 'spree/admin/shared/sale_tabs', locals: { current: 'Sale Event Images' } %>

<% content_for :page_title do %>
  <%= link_to Spree.t(:active_sales), admin_active_sales_path %> /
  <%= link_to @active_sale.name, admin_active_sale_path(@active_sale) %> /
  <%= link_to @active_sale_event.name, edit_admin_active_sale_active_sale_event_path(@active_sale, @active_sale_event) %> /
  <%= Spree.t(:new, scope: [:active_sale, :event, :images, :title]) %>
<% end %>

<%= form_for [:admin, @active_sale, @active_sale_event, @sale_image], html: { multipart: true } do |f| %>
  <fieldset data-hook="new_image">
      <%= render partial: 'form', locals: { f: f } %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t(:create), 'save' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= link_to_with_icon 'remove', Spree.t(:Cancel), admin_active_sale_active_sale_event_sale_images_url(@active_sale, @active_sale_event), id: 'cancel_link', class: 'btn btn-default' %>
      </div>
  </fieldset>
<% end %>
